article {
	@include clearfix;
	.block-side {
		@include breakpoint(tablet){
			width: 40%;
			float: left;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.block-text {
		display: block;
		padding: 15px;
		@include breakpoint(tablet){
			width: 60%;
			float: left;
		}
		a {
			color: #333;
		}
		h3 {
			line-height: 1.2em;
			margin: 0 0 8px;
		}
		p {
			margin: 0;
			color: #666;
		}
	}
	.infos {
		@include clearfix;
		margin: 3px 0 0;
		padding: 0;
		font-size: 0.9em;
		li {
			list-style: none;
			float: left;
			margin: 5px 10px 5px 0;
			.icon {
				color: #666;
			}
			.number {
				color: #888;
			}
		}
	}
}

article.feature {
	border: 1px solid #eee;
	margin: 0 0 25px;
}