* {
	box-sizing: border-box;
	outline: 0 none;
}

body {
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	font: 500 normal 14px/1.6em sans-serif;
	color: #333;
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(desktop) {
		font-size: 16px;
	}
	@include breakpoint(large) {
		font-size: 17px;
	}
	@include breakpoint(larger) {
		font-size: 18px;
	}
}

::-webkit-input-placeholder {
	color: #666;
}

:-moz-placeholder {
	color: #666;
	opacity: 1;
}

::-moz-placeholder {
	color: #666;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #666;
}

h2 {
	color: #333;
}

a {
	color: #4472B9;
	text-decoration: none;
	&:hover {
		color: #000;
	}
}

p {
	color: #737C7F;
	strong {
		color: #333;
	}
}

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

.row {
	@include clearfix;
	.col-6 {
		@include breakpoint(laptop) {
			@include span(6);
		}
		&:last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
		&.last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
	}
}

.r-img {
	width: 100%;
	max-width: 100%;
	height: auto;	
}

header.header-main {
	@include clearfix;
	a {
		text-decoration: none;
	}
	.logo {
		font-size: 1.5em;
		font-weight: bold;
		color: #bbb;
		&:hover {
			color: #aaa;
		}
		@include breakpoint(laptop) {
			float: left;
			line-height: 100px;
		}
	}
	.menu-wrapper {
		@include breakpoint(laptop) {
			float: right;
		}
	}
	form.form-search {
		display: none;
		input {
			padding: 8px 10px;
			font-size: inherit;
		}
	}
}

.emotion {
	.wrapper {
		display: block;
	}
	.img-wrapper {
		max-height: 600px;
	}
}

footer.footer-main {
	position: relative;
	color: #999;
	font-size: 0.95rem;
	margin: 50px 0 0 0;
}