* {
	box-sizing: border-box;
	outline: 0 none;
}

::-webkit-input-placeholder {
	color: #666;
}

:-moz-placeholder {
	color: #666;
	opacity: 1;
}

::-moz-placeholder {
	color: #666;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #666;
}

.primary-font {
	font-family: "Open Sans", sans-serif;
}

.secondary-font {
	font-family: "Montserrat", sans-serif;
}

body {
	@extend .primary-font;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	line-height: 1.6em;
	font-weight: 400;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	color: #666;
	font-size: 15px;
	@include breakpoint(tablet) {
		font-size: 15px;
	}
	@include breakpoint(desktop) {
		font-size: 15px;
	}
	@include breakpoint(large) {
		font-size: 16px;
	}
	@include breakpoint(larger) {
		font-size: 16px;
	}
}

h1,
h2,
h3 {
	color: #333;
}

a {
	color: #4472B9;
	text-decoration: none;
	&:hover {
		color: #000;
	}
}

.button {
	display: inline-block;
	background: #000;
	border: 2px solid #000;
	color: #fff;
	padding: 8px 25px;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	&:hover {
		background: none;
		color: #000;
	}
}

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	@include clearfix;
}

.row {
	@include clearfix;
	.col-6 {
		@include breakpoint(laptop) {
			@include span(6);
		}
		&:last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
		&.last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
	}
}

.r-img {
	width: 100%;
	max-width: 100%;
	height: auto;	
}

header.header-main {
	border-bottom: 1px solid #eee;
	@include clearfix;
	a {
		text-decoration: none;
	}
	.logo {
		@extend .secondary-font;
		font-size: 2em;
		font-weight: bold;
		letter-spacing: -2px;
		color: #333;
		padding-right: 15px;
		float: left;
		line-height: 60px;
		&:hover {
			color: #000;
		}
		@include breakpoint(laptop) {
			line-height: 75px;
			border-right: 1px solid #eee;
		}
	}
	.menu-wrapper {
		@include breakpoint(laptop) {
			float: left;
		}
	}
	.glyph-icon {
		border-left: 1px solid #eee;
		padding: 0 20px;
		font-size: 1.25em;
		position: relative;
		z-index: 10;
		cursor: pointer;
		float: right;
		color: #888;
		line-height: 60px;
		&:hover {
			color: #666;
		}
		&.close {
			display: none;
		}
		@include breakpoint(laptop) {
			line-height: 75px;
		}
	}
	.search-toggle {
		padding: 0 10px 0 20px;
		@include breakpoint(laptop) {
			border: 0 none;
		}
	}
	.menu-toggle {
		font-size: 1.5em;
		@include breakpoint(laptop) {
			display: none;
		}
	}
	.search-wrapper {
		display: none;
		position: absolute;
		top: 61px;
		left: 0;
		background: #fff;
		height: 61px;
		z-index: 6;
		width: 100%;
		@include breakpoint(laptop) {
			height: 77px;
			top: 76px;
		}
		form.form-search {
			input {
				width: 100%;
				padding: 10px 12px;
				font-size: inherit;
				border: 1px solid #eee;
				margin: 12px 0;
				@include breakpoint(laptop) {
					margin: 17px 0;
				}
			}
		}
	}
}

.emotion {
	.wrapper {
		display: block;
	}
	.img-wrapper {
		max-height: 600px;
		overflow: hidden;
		img {
			transition: all 0.1s;
		}
	}
}

.content-wrapper {
	@include clearfix;
	padding: 15px 0;
	&.has-sidebar {
		.content {
			@include breakpoint(laptop) {
				@include span(8);
			}
		}

		.sidebar {
			@include breakpoint(laptop) {
				@include span(4 last);
			}
		}
	}
}

footer.footer-main {
	position: relative;
	margin: 25px 0 0 0;
	.col {
		@include breakpoint(touchonly){
			margin-bottom: 50px;
		}
		@include breakpoint(laptop) {
			@include span(4);
			&:last-child {
				@include span(4 last);
			}
		}
		h3 {
			margin: 0 0 15px;
			padding: 0 0 10px;
			text-transform: uppercase;
			border-bottom: 1px solid #ddd;
		}
		p {
			margin-top: 0;
		}
		form {
			input,
			textarea,
			button {
				font-size: inherit;
				line-height: inherit;
				width: 100%;
				padding: 10px;
				margin: 0 0 10px;
				border: 1px solid #ddd;
			}
			textarea {
				min-height: 150px;
			}
			button {
				@extend .button;
			}
		}
	}
	.bottom {
		padding: 25px 0;
		color: #aaa;
	}
}