nav.nav-main {
	position: relative;
	z-index: 5;
	display: none;
	@include breakpoint(mobileonly){
		position: absolute;
		top: 62px;
		left: 0;
		background: #fff;
		width: 100%;
		border-bottom: 1px solid #eee;
		padding: 10px 0;
	}
	@include breakpoint(laptop){
		display: block !important;
	}
	ul {
		@include clearfix;
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			@include breakpoint(laptop){
				float: left;
			}
			a {
				display: block;
				padding: 5px 15px;
				color: #888;
				&:hover {
					color: #333;
				}
				@include breakpoint(laptop){
					line-height: 75px;
					padding: 0 25px;
				}
			}
			span {
				color: #888;
				cursor: pointer;
				&:hover {
					color: #333;
				}
				@include breakpoint(laptop){
					line-height: 100px;
				}
			}
			@include breakpoint(mobileonly){
				ul {
					display: block;
					padding-left: 15px;
				}
			}
			@include breakpoint(laptop){
				ul {
					display: none;
				}
				&:hover {
					ul {
						display: block;
						position: absolute;
						background: #fff;
						min-width: 150px;
						border: 1px solid #eee;
						li {
							float: none;
							a {
								line-height: 1.6em;
								padding: 10px 25px;
								&:hover {
									
								}
							}
						}
					}
				}
			}
		}
	}
}