body {
	font: normal 18px/1.6em sans-serif;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
}

.row {
	@include clearfix;
	.col-6 {
		@include breakpoint(laptop) {
			@include span(6);
		}
		&:last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
		&.last-child {
			@include breakpoint(laptop) {
				@include span(6 last);
			}
		}
	}
}